body {
	margin: 0 auto;
	padding: 0;
	width: 1200px;
}

/* LAYOUT */
/* KITCHEN */
.kitchen {
	background-image: url(img/background/kitchen.jpg);
	background-repeat: no-repeat;
	height: 937px;
	width: 100%;
}

.back-kitchen {
	margin-left: 200px;
	padding-top: 250px;
	width: 100%;
}

#kitchen-freezer {
	display: inline;
}

#kitchen-freezer img {
	height: 400px;
	width: 210px;
}

#kitchen-stove {
	display: inline;
}

#kitchen-stove img {
	width: 270px;
}

#kitchen-cupboard {
	display: inline;
}

#kitchen-cupboard img {
	height: 410px;
	width: 390px;
}

.front-kitchen {
	margin-top: 75px;
}

#kitchen-clickzone img {
	width: 130px;
}


/* LANDING PAGE */

.status, .status-kitchen {
	display: inline;
	width: 200px;
}

footer {
	height: 100px;
}

/*STATE */

.is-hidden {
	display: none;
}

.is-inline {
	display: inline;
}